<div class = "contain">
  <div class="content first-content">
    <br>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <body>
    <section class="ftco-section"  class = "divPrincipal" >
      <div class="container" class = "divLogin" >
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">

          </div>
        </div>
        <div class="row justify-content-center" >
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap py-5">

              <div class="img d-flex align-items-center justify-content-center" style="background-image: url(imagens/bg.jpg);"></div>

              <h2 class="heading-section" >  Login </h2><br>
              <h3 class="text-center mb-0">Bem-Vindos</h3>
              <p class="text-center">Faça login inserindo as informações abaixo</p>
              <form action="#" class="login-form" class = "input1" >
                <div class="form-group" >
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                  <input type="text" class="form-control" placeholder="Nome de usuário" required>
                </div>
                <div class="form-group" class = "input2">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                  <input type="password" class="form-control" placeholder="senha" required>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-100 text-md-right">
                    <a href="#">Esqueceu sua senha</a><br>
                  </div>
                </div>

                <div class="form-group"  class="botao">
                  <button type="submit" class="btn form-control btn-primary rounded submit px-3" (click)="cadastrarUser()">Get Started</button>
                </div>
              </form>
              <div class="w-100 text-center mt-4 text">
                <p class="mb-0">Não tem conta ?</p>
                <a href="/cadastrarusuario">Faça aqui</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    </body>
  </div>
</div>
