<div class = "contain">
    <div class="content first-content">
      <br>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <body>
      <section class="ftco-section section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              <div class="login-wrap py-5">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(imagens/bg.jpg);"></div>
                <h3 class="text-center mb-0">Nova Reunião</h3><br>

                <p class="text-center">Sobre o Jogo</p>
                <form action="#" class="reuniao-form input">
                  <div class="form-group">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                    <input type="text" class="form-control" placeholder="Titulo" required>
                  </div>
                  <div class="form-group">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                    <input type="text2" class="form-control" required>
                  </div>

                  <div class="form-group">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                    <input type="text2" class="form-control"  required>
                  </div>
                  <div class="form-group">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                    <input type="text3" class="form-control"  required>
                  </div>
                  <div>
                  <div class="form-group" class="botao"> 
                    <button type="submit" class="btn form-control btn-primary rounded submit px-3">Nova Reunião</button><br>
                   
                  </div>
                  </div>
                  <br>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      </body>
    </div>
  </div>
  