<main class="d-flex flex-column container">
    <div class="list-group" *ngIf="eventos" >
      <div class="titulo">

        <h3>Reuniões</h3>
      </div>
        <a *ngFor="let e of eventos | keyvalue" class="list-group-item card-lista list-group-item-action">
          <div>
            <h5>Título: {{e.value.titulo}}</h5>
            <span>Descriçã: {{e.value.descricao}}</span>
          </div>
          <div class="botoes">

            <button class="btn btn-outline-secondary align-self-end" (click)="exibirEvento(e.key)">
              Detalhes
            </button>
            <button class="btn btn-outline-secondary align-self-end" (click)="exibirEvento(e.key)">
              Editar
            </button>
            <button class="btn btn-outline-danger align-self-end" (click)="delete(e.key)">
              Excluir
            </button>
          </div>

        </a>
    </div>

    <div class="form-group" class="botao">
        <a href="/new" class="btn btn-primary align-self-end mt-2">Novo</a>

   </div>

</main>
