<main class="d-flex flex-column">
    <div class="list-group" *ngIf="eventos" >
        <a *ngFor="let e of eventos | keyvalue" class="list-group-item list-group-item-action">
            <h5>{{e.value.titulo}}</h5>
            <span>{{e.value.descricao}}</span>
            <br/>
          <button class="btn btn-secondary align-self-end" (click)="delete(e.key)">
              Excluir
          </button>

        </a>
    </div>

    <div class="form-group" class="botao"> 
        <a href="/new" class="btn btn-primary align-self-end mt-2">Novo</a>
       
   </div>

</main>
